@using EntityLayer.Concrete
@model List<Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card" id="tabl">
    <h2>Student Records</h2>
        <div class="table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Number</th>
                        <th>Email</th>
                        <th>Gsm Number</th>
                        <th>Delete</th>
                        <th>Edit</th>
                        <th>Course</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Full_Name
                            </td>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Gsm_Number
                            </td>
                            <td><a href="/Student/DeleteStudent/@item.Id" class="btn btn-outline-danger">Delete</a></td>
                            <td><a href="/Student/EditStudent/@item.Id" class="btn btn-outline-warning">Edit</a></td>
                            <td><a href="#" class="btn btn-outline-info">Course</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Student/AddStudent/" class="btn btn-outline-info" id="btngotoaddrecord">Add new record</a>
        </div>
</div>


