@model List<Tuple<string, double>>

@{
    ViewData["Title"] = "StudentExamAverages";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card" id="tabl">
    <h2>Average Scores of Student</h2>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Average</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Item1</td>
                        <td>
                            @{
                                if (!double.IsNaN(item.Item2))
                                {
                                    <p>@item.Item2.ToString("0.##")</p>
                                }
                                else
                                {
                                    <p>Not Yok</p>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Student/Index/" class="btn btn-outline-warning" id="btngotoaddrecord">Back</a>
    </div>
</div>

