@using EntityLayer.Concrete
@model List<ExamResult>
@{
    ViewData["Title"] = "StudentDetails";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card" id="tabl">
    <h2>Student Records</h2>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Course Name</th>
                    <th>Exam</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Student.Full_Name
                        </td>
                        <td>
                            @item.Course.Name
                        </td>
                        <td>
                            @item.Score
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="/Student/AddStudent/" class="btn btn-outline-info" id="btngotoaddrecord">Add new record</a>
        <a href="/Student/Index/" class="btn btn-outline-warning" id="btngotoaddrecord">Back</a>
    </div>
</div>


