body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#btngotoaddrecord {
    margin-left : 10px;
    margin-bottom : 10px;
}
#btngotoaddcourse {
    margin-left: 10px;
    margin-bottom: 10px;
}
#btnaddstudent{
    margin-left : 20px;
}
#btnaddcourse {
    margin-left: 20px;
}
#tabl {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}